<div class="content">
  <% if documents.count == 0 %>
    <div class="empty">No Data</div>
  <% else %>
    <div class="table_wrapper">
      <table class="documents">
        <tr><%= row_headings %></th></tr>      
        <% documents.each do |d| %>
          <tr>
            <td class="document_id"><a href="/<%= collection%>/<%= d['_id']%>"><%=first_col(d)%></a></td>
            <%=next_to_col(d)%></a></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
